*.DS_Store
.DS_Store
Pods/
macOS Utilities.xcworkspace/xcshareddata/
macOS Utilities.xcworkspace/xcuserdata/

# Sourcery
macOS Utilities/Sourcery/Generated/*.generated.swift
macOS Utilities/Sourcery/Configuration/sourcery.yml
macOS Utilities/Sourcery/Configuration/sourcery.yml

