<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationVersion</key>
	<string>2.0</string>
	<key>helpEmailAddress</key>
	<string>help@me.com</string>
	<key>installerServerPreferences</key>
	<dict>
		<key>mountPath</key>
		<string>/var/tmp/Installers</string>
		<key>serverEnabled</key>
		<true/>
		<key>serverIP</key>
		<string>172.16.5.5</string>
		<key>serverPath</key>
		<string>/Library/Server/Web/Data/Sites/Default/Installers</string>
		<key>serverType</key>
		<string>NFS</string>
	</dict>
	<key>loggingPreferences</key>
	<dict>
		<key>loggingEnabled</key>
		<true/>
		<key>loggingPort</key>
		<integer>46937</integer>
		<key>loggingURL</key>
		<string>logs.papertrailapp.com</string>
	</dict>
	<key>mappedApplications</key>
	<array>
		<dict>
			<key>appDescription</key>
			<string>Repair or erase a disk using Disk Utility</string>
			<key>isInvalid</key>
			<false/>
			<key>isUtility</key>
			<true/>
			<key>name</key>
			<string>Disk Utility</string>
			<key>path</key>
			<string>/Applications/Utilities/Disk Utility.app</string>
			<key>showInApplicationsWindow</key>
			<true/>
		</dict>
		<dict>
			<key>appDescription</key>
			<string>Do advanced, super user things with Terminal</string>
			<key>isInvalid</key>
			<false/>
			<key>isUtility</key>
			<true/>
			<key>name</key>
			<string>Terminal</string>
			<key>path</key>
			<string>/Applications/Utilities/Terminal.app</string>
			<key>showInApplicationsWindow</key>
			<true/>
		</dict>
		<dict>
			<key>appDescription</key>
			<string>Browse Apple Support to get help with your Mac</string>
			<key>isInvalid</key>
			<false/>
			<key>isUtility</key>
			<false/>
			<key>name</key>
			<string>Safari</string>
			<key>path</key>
			<string>/Applications/Safari.app</string>
			<key>showInApplicationsWindow</key>
			<true/>
		</dict>
	</array>
	<key>remoteConfigurationPreferences</key>
	<array>
		<dict>
			<key>filePath</key>
			<dict>
				<key>relative</key>
				<string>file:///Users/keatonburleson/Desktop/good.plist</string>
			</dict>
			<key>name</key>
			<string>Good Configuration 2</string>
		</dict>
	</array>
</dict>
</plist>
