<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceIdentifier Authentication Token</key>
	<string></string>
	<key>Help Email Address</key>
	<string>support@me.com</string>
	<key>Logging Enabled</key>
	<true/>
	<key>Logging Port</key>
	<integer>1234</integer>
	<key>Logging URL</key>
	<string>logs.papertrailapp.com</string>
	<key>Applications</key>
	<dict>
		<key>Prime95</key>
		<dict>
			<key>Section</key>
			<string>Basic</string>
			<key>Path</key>
			<string>/Applications/Prime95.app</string>
		</dict>
		<key>FurMark</key>
		<dict>
			<key>Section</key>
			<string>Basic</string>
			<key>Path</key>
			<string>/Applications/FurMark.app</string>
		</dict>
		<key>Print Label</key>
		<dict>
			<key>Section</key>
			<string>Basic</string>
			<key>Path</key>
			<string>/Applications/Print Label.app</string>
		</dict>
		<key>KillDisk</key>
		<dict>
			<key>Section</key>
			<string>Basic</string>
			<key>Path</key>
			<string>/Applications/KillDisk.app</string>
		</dict>
		<key>Safari</key>
		<dict>
			<key>Section</key>
			<string>Utilities</string>
			<key>Path</key>
			<string>/Applications/Safari.app</string>
		</dict>
		<key>Disk Utility</key>
		<dict>
			<key>Section</key>
			<string>Utilities</string>
			<key>Path</key>
			<string>/Applications/Utilities/Disk Utility.app</string>
		</dict>
		<key>Terminal</key>
		<dict>
			<key>Path</key>
			<string>/Applications/Utilities/Terminal.app</string>
			<key>Section</key>
			<string>Utilities</string>
		</dict>
		<key>AVTest</key>
		<dict>
			<key>Section</key>
			<string>Utilities</string>
			<key>Path</key>
			<string>/Applications/AVTest.app</string>
		</dict>
	</dict>
	<key>Server Path</key>
	<string>/Library/Server/Web/Data/Sites/Default/Installers</string>
	<key>Server IP</key>
	<string>172.16.5.5</string>
</dict>
</plist>
